 /* #about {
    background-image: url('../../../syncro/public/images/herobgclr.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}  */


#about {
    background: linear-gradient(
        to right, 
        rgba(183, 190, 251, 0.9),
        rgba(254, 254, 255, 0.9) /* Indigo color with opacity */
          /* Lighter shade of indigo with opacity */
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Adjust height as needed */
    z-index: 0;
}