#contact {
    background: linear-gradient(
        to left, 
        rgba(172, 168, 232, 0.463),
        rgba(254, 254, 255, 0.9) /* Indigo color with opacity */
          /* Lighter shade of indigo with opacity */
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Adjust height as needed */
    z-index: 0;
}