.Logo{
    margin-right: 5px;
}
html {
    scroll-behavior: smooth;
  }

/* #header {
    background-image: url('../../../syncro/public/images/herobgclr.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
} */

#header {
    background: linear-gradient(
        to right, 
        rgba(254, 254, 255, 0.9), /* Indigo color with opacity */
        rgba(137, 148, 245, 0.9)  /* Lighter shade of indigo with opacity */
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto; /* Adjust height as needed */
    z-index: 0;
}

 /* #nav{
    background: linear-gradient(
        to right, 
        rgba(254, 254, 255, 0.9), /* Indigo color with opacity 
        rgba(137, 148, 245, 0.9)   Lighter shade of indigo with opacity 
    );
} */

#nav {
    transition: background-color 0.8s ease, box-shadow 0.8s ease; /* Adjust duration as needed */
  }
  
  /* When navbar is fixed */
  .fixed {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }